{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'QrcApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'QrcApp/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'QrcApp/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>QRC</title>
</head>
<body>
  
    <nav class="navbar navbar-inverse navabar-fixed-top">
      <div class="container">
        <h2>QRC</h2>
      </div>
    </nav>
    
  <div class="container">
    <div class="row">
     
    <div class="col-md-12">

    </div>

    <div class="jumbotron">
      <h1>QRC</h1>
      <p>
        <Lorem>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque culpa a nemo facere blanditiis deserunt maxime, aspernatur soluta ad est suscipit iusto incidunt! Architecto aperiam sunt asperiores expedita sed fugit.</Lorem>
        <Lorem>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque repellat perspiciatis commodi architecto quam rem, quas est. Reprehenderit rem officiis hic ducimus sit fugit id voluptatem, perspiciatis eaque, aliquam eligendi.</Lorem>
      </p>
    </div>

    <div class="col-md-6">
      <h3>QRC Sustainability projects</h3>
    </div>

    <div class="col-md-6" style="padding-top:50px;">
      <p>
        <Lorem>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi et distinctio atque ducimus rem. Quas facilis cupiditate eaque, ducimus provident, impedit officiis beatae animi reprehenderit natus, cumque quos sed maxime.</Lorem>
        <Lorem>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque. Itaque expedita accusamus aspernatur fuga officia fugit quisquam magni doloribus repudiandae, consequatur fugiat animi? Illo eum ipsum consectetur sed blanditiis?</Lorem>
      </p>
    </div>

    <div></div>

    </div>
  </div>

  <div class="footer-basic">
    <footer>
        <center>
        <p class="copyright">QRC © 2017</p>
        </center>
    </footer>  
 </div>

 <script src="{% static 'QrcApp/js/jquery-3.2.1.js' %}"></script>
 <script src="{% static 'QrcApp/js/bootstrap.js' %}"></script>
</body>
</html>